html {
    background: #cdcdcd;
}

body {
    background: #efefef;
    font-family: Arial;
    text-align: justify;
    font-size: 1.2em;
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
    line-height: 1.5em;
}

